.header {
  display: flex;
  border: 3px solid black;
  justify-content: space-between;
  height: 90px;
  &__title {
    height: 50px;
    width: auto;
    margin: auto 1rem;
  }
  &__toolbar {
    display: flex;
    width: auto;
    justify-content: space-between;
  }
}

.toolbar__palette {
  display: flex;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.toolbar__stroke {
  display: flex;
}

.clear__button, .erase__button {
  background: none;
  border: none;
  height: 100%;
  width: 90px;
  padding: 0;
  border-left: 3px solid black;
}

.clear__icon, .erase__icon {
  height: 70%;
  width: auto;
  display: block;
  margin: auto;
}

.clear__icon {
  height: 60%;
}
.erase__icon:hover {
  transform: rotate(15deg); 
}
