.drawing-canvas {
cursor: url("src/assets/brush-cursor-24px.png"), default;
width: 100%;
height: 100%;
&--eraser {
  cursor: url("src/assets/eraser-cursor-24px.png"), default;
}
}

.restore {
  position: absolute;
  left: 0;
  top: 50%;
}
